*{
    box-sizing: 0;
    margin: 0;
    padding:0;
    font-family: Arial, sans-serif;
}
html {
    /*overflow: hidden;*/
    height: 100%;
}
body{
    background-color: #FFF;
    /*overflow: auto;*/
    height: 100%;
}

/*navigation*/
.navigation{
    padding-top: 15px;
    background-color: #fdf7db;
}

/*hero*/
.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/birds.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;

    display: grid;
    justify-content: center;
    align-content: center;
}
.hero-text{
    text-align: center;
    color: #fff;
}
.hero-text h1{
    font-size:76px;
}
.hero-text p{
    font-size:22px;
    color: #FFE7CD;
    font-style: italic;
}

/*about*/
.about{
    background-color: #DBCBBA;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-text{
    width: 30%;
}
.about-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.about-img img{
    width: 70%;
}

/*project section*/
.projects-section {
    background: #ffffff;
    color:rgb(0, 0, 0);
    padding-left: 15px;
    padding-right: 15px;
}
.projects{
    display: grid;
    justify-content: center;
    align-content: center;
}
.projects-top{
    text-align: center;
}
.projects-grid{
    min-height: 100vh;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, .1fr);

    gap: 30px;
    color: #fff;
}
.projects-grid img{
    width: 100%;
}
.pglinks{
    color:#000;
    text-decoration: none;
}
.pglinks:hover{
    color:#A37DC9;
    text-decoration: none;
}
.overlay-text{
    text-align: center;
}
.overlay-text a{
    color:#fff;
    text-decoration: none;
    font-weight: bold;
}
.overlay-text a:hover{
    color:#FFBFEA;
    text-decoration: underline;
}
.project-text{
    font-size: 25px;
    text-align: right;
    padding: 50px 0  50px 0;
}
#ptlink{
    color:#000;
}
#ptlink:hover{
    color:#70568a;
    text-decoration: none;
}
.img-container {
    position: relative;
    display: grid;
    justify-content: center;
    align-content: center;
}
.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height:100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
    display: grid;
    justify-content: center;
    align-content: center;
}
.img-container:hover .img-overlay{
    opacity: .8;
}

/*contact*/
.contact-top{
    text-align: center;
}
.contact{
    background-color: #E0E0E0;
}

/*footer*/
footer {
    background-color: #1B1E1F;
    display: grid;
    justify-content: center;
    align-content: center;
    height: 150px;
}
.copyright {
    text-align: center;
    color: #fff;
    
}